In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
import pandas as pd

url = "https://raw.githubusercontent.com/LQPALMER/athletic_sales_analysis/main/Resources/athletic_sales_2020.csv"
url2 = "https://raw.githubusercontent.com/LQPALMER/athletic_sales_analysis/main/Resources/athletic_sales_2021.csv"
athletics_2020 = pd.read_csv(url)
athletics_2021 = pd.read_csv (url2)

In [3]:
# Display the 2020 sales DataFrame
athletics_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [4]:
# Display the 2021 sales DataFrame
athletics_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
athletics_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
athletics_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
_2020_2021_combined = pd.concat([athletics_2020,  athletics_2021], axis="rows", join='inner').reset_index(drop=True)

In [8]:
# Check if any values are null.
_2020_2021_combined.dropna(inplace=True)

In [9]:
# Check the data type of each column
print(_2020_2021_combined.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
_2020_2021_combined["invoice_date"] = pd.to_datetime(_2020_2021_combined["invoice_date"], format=('%m-%d-%Y'))

ValueError: time data "1/1/20" doesn't match format "%m-%d-%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
# Confirm that the "invoice_date" data type has been changed.
print(_2020_2021_combined.dtypes)

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [11]:
# Show the number of products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
_2020_2021_groupby = _2020_2021_combined.groupby(['region', 'state', 'city'])['units_sold'].agg(Total_Products_Sold=("sum"))

_2020_2021_groupby = _2020_2021_groupby.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
_2020_2021_groupby.sort_values(by=(["Total_Products_Sold"]), ascending=False)
_2020_2021_groupby.head()

                               Total_Products_Sold
region  state    city
Midwest Illinois Chicago                     25407
        Indiana  Indianapolis                26332
        Iowa     Des Moines                  23446
        Kansas   Wichita                     29463
        Michigan Detroit                     50095

#### Using `pivot_table`

In [12]:
# Show the number products sold for region, state, and city.
pivot_table_products_sold = pd.pivot_table(_2020_2021_combined,
                                           index=['region', 'state', 'city'], 
                                           values= 'units_sold', 
                                           aggfunc='sum')


# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_products_sold = pivot_table_products_sold.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
#pivot_table_products_sold = pivot_table_products_sold.sort_values(by='Total_Products_Sold', ascending=False)
pivot_table_products_sold.head()

                               units_sold
region  state    city
Midwest Illinois Chicago            25407
        Indiana  Indianapolis       26332
        Iowa     Des Moines         23446
        Kansas   Wichita            29463
        Michigan Detroit            50095

In [14]:
_2020_2021_combined.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [17]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_grouped=pd.pivot_table(_2020_2021_combined,
                                           index=['region', 'state', 'city'], 
                                           values= 'units_sold', 
                                           aggfunc='sum')

total_sales_grouped = _2020_2021_combined.groupby(['region', 'state', 'city'])['total_sales'].agg(Total_Sales=("sum"))
total_sales_grouped=total_sales_grouped.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
#total_sales_grouped.sort_values(by=(['Total Sales']), ascending=False)
total_sales_grouped.head()

AttributeError: 'NoneType' object has no attribute 'head'

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
total_sales_grouped = pd.pivot_table(_2020_2021_combined,
                                     index=['region', 'state', 'city'], 
                                     values='units_sold', 
                                     aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
total_sales_grouped.sort_values(by=(['Total Sales']), ascending=False)
total_sales_grouped.head()

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_grouped2 = total_sales_grouped.groupby(['retailer', 'region', 'state', 'city'])['qty'].sum().reset_index()
total_sales_grouped2.rename(columns={'total_sales': 'Total_Sales'}, inplace=True)
# Show the top 5 results.
total_sales_grouped2.sort_values(by=(['Total Sales']), ascending=False)
total_sales_grouped2.head()

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
total_sales_grouped2 = pd.pivot_table(_2020_2021_combined,
                                     index=['region', 'state', 'city'], 
                                     values='units_sold', 
                                     aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_grouped2.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
total_sales_grouped2.sort_values(by=(['Total Sales']), ascending=False)
total_sales.head()

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = df[df['product_category'] == 'Women\'s Athletic Footwear']

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_athletic_footwear_totals = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_athletic_footwear_totals.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
womens_athletic_footwear_sales.head()

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_table2 = womens_athletic_footwear_totals.pivot_table(index=['retailer','region', 'state', 'city'], values='qty', aggfunc='sum').reset_index()
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table2.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
pivot_table2.head()

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table where the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table3 = pivot_table3.pivot_table(index='invoice_date', values='total_sales')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table3.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
pivot_table3

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_total_sales = pivot_table.resample('D').sum()

# Sort the resampled pivot table in descending order by "Total Sales".
daily_total_sales_sorted = daily_total_sales.sort_index(ascending=False)

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_total_sales = pivot_table.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_total_sales_sorted = weekly_total_sales.sort_index(ascending=False)